@model BioRec___MarketPlace.ViewModel.RegistroUsuarioViewModel

@{
    ViewData["Title"] = "Registro";
}


<head>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<br />
<div class="text-center">

    <h1 class="display-1 titulo">Regístrate</h1>

</div>
<br />
<br />





<div class="form-group row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <input id="nombre" type="text" class="form-control" placeholder="Nombre">
    </div>
    <div class="col-md-3">
        <input id="apellido" type="text" class="form-control" placeholder="Apellido">
    </div>


</div>

<div class="form-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <input id="correo" type="email" class="form-control" placeholder="Correo Electrónico">
    </div>
</div>

<div class="form-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <input id="contraseña" type="password" class="form-control" placeholder="Contraseña">
    </div>
</div>

<div class="form-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <label class="control-label font-weight-light"> Fecha de Nacimiento</label>
        <input id="fechanacimiento" type="date" class="form-control">
    </div>
</div>

<div class="form-group row">
    <div class="col-3"></div>
    <div class="col-6 font-weight-light">Dirección</div>


</div>

<div class="form-group row">
    <div class="col-3"></div>
    <div class="col-2">
        <input id="tipoVia" type="text" class="form-control" placeholder="Tipo Vía">

    </div>
    <div class="col-2">
        <input id="numeroVia" type="text" class="form-control" placeholder="Numero Vía">

    </div>
    <div>#</div>
    <div class="col-1">
        <input id="numeroViaSecundario" type="text" class="form-control">

    </div>
    <div>-</div>
    <div class="col-1">
        <input id="numeroCasa" type="text" class="form-control">

    </div>
</div>

<div class="form-group row">
    <div class="col-3"></div>
    <div class="col-4">
        <input id="tipoInmueble" type="text" class="form-control" placeholder="Tipo Inmueble">

    </div>
    <div class="col-2">
        <input id="numeroInmueble" type="text" class="form-control" placeholder="Número">

    </div>

</div>

<div class="form-group row">
    <div class="col-3"></div>
    <div class="col-2">
        <input id="ciudad" type="text" class="form-control" placeholder="Ciudad">

    </div>
    <div class="col-2">
        <input id="departamento" type="text" class="form-control" placeholder="Departamento">

    </div>
    <div class="col-2">
        <input id="pais" type="text" class="form-control" placeholder="País">

    </div>

</div>

<br />
<br />

<div class="form-group row">
        <div class="col-5"></div>

        <button id="Registrar" class="btn btn-info botonPred">Registrarse</button>

</div>



    



    @section Scripts {

        <script>
            $("#Registrar").click(function (event) {

                var nombre = $("#nombre").val();
                var apellido = $("#apellido").val();
                var correo= $("#correo").val();
                var contraseña = $("#contraseña").val();
                var fechanacimiento = $("#fechanacimiento").val();
                var tipoVia = $("#tipoVia").val();
                var numeroVia = $("#numeroVia").val();
                var numeroViaSecundario = $("#numeroViaSecundario").val();
                var numeroCasa = $("#numeroCasa").val();
                var tipoInmueble = $("#numeroInmueble").val();
                var ciudad = $("#ciudad").val();
                var departamento = $("#departamento").val();
                var pais = $("#pais").val();
                
                
                var json = '{"Usuario":{"nombre":"' + nombre + '","apellido":"' + apellido + '","correo":"' + correo + '","contraseña":"'
                    + contraseña + '","fechanacimiento":"' + fechanacimiento + '"},'
                    + '"Direccion":{"tipoVia":"' + tipoVia + '","numeroVia":"' + numeroVia + '","numeroViaSecundario":"' + numeroViaSecundario + '","numeroCasa":"'
                    + numeroCasa + '","tipoInmueble":"' + tipoInmueble + '"},' + '"Ciudad":{"ciudad":"' + ciudad + '"},' + '"Departamento":{"departamento":"' + departamento + '"},'
                    +'"Pais":{"pais":"' + pais + '"}}';

                console.log(json);


                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(json),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    url: "/Usuario/Registrar/",
                    error: function (request, error) {
                        console.log(request);
                        console.log(error);
                    },
                    complete: function (response) {

                    }
                })

            })

        </script>

    }

