@{
    ViewData["Title"] = "Inicio";
}
<home><link href="~/css/StyleSheet.css" rel="stylesheet" /></home>


<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
   
    <br />

    <h1 class="display-1 titulo">Bioseguridad a tu alcance</h1>
    <br />
    <h5>Los mejores precios en productos para tu salud</h5>
    <h5>y la de tu familia</h5>
    <br />
    <br />
    <button class="btn btn-info botonPred" >Ver más</button>
</div>









