@model BioRec___Empleados.Models.ProductoPublicado

@{
    ViewData["Title"] = "Registro de proveedor";
}

<div class="text-center">

    <h1 class="display-1 titulo">Comprar producto @Model.nombre</h1>

</div>
<br />
<br />
@if (ViewBag.sw == 1)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Cuidado!</strong> Se ha editado el cliente de manera exitosa.
    </div>
}
else if (ViewBag.sw == 2)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Alerta!</strong> Se ha eliminado el cliente de manera exitosa.
    </div>
}
else if (ViewBag.sw == 3)
{
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>¡Alerta!</strong> No tenemos suficientes productos para realizar la venta.
</div>
}
else if (ViewBag.sw == 4)
{
    <div class="alert alert-danger alert-dismissable">
        <strong>¡Alerta!</strong> Error desconocido, intente nuevamente.
    </div>
}

<form asp-action="VentaProducto">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input name="idProductoPublicado" value="@Model.id" hidden />
    <div class="form-group row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            Cantidad Disponible : @Model.Producto.cantidadTotal
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <input name="cantidad" type="number" class="form-control" placeholder="Cantidad a comprar">
        </div>
        <div class="col-md-3"></div>

    </div>

    <br />
    <br />

    <div class="form-group row">
        <div class="col-12">
            <div class="col text-center">
                <input type="submit" value="Comprar" class="btn btn-info botonPred" style="width: 50%;">
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script type="text/javascript">
        setTimeout(function () {
            // Closing the alert
            $(".alert-success").fadeTo(1500, 500).slideUp(500, function () {
                $(".alert-success").slideUp(500);
            });
            $(".alert-warning").fadeTo(1500, 500).slideUp(500, function () {
                $(".alert-warning").slideUp(500);
            });
            $(".alert-danger").fadeTo(1500, 500).slideUp(500, function () {
                $(".alert-danger").slideUp(500);
            });
        }, 600);
    </script>
}